* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

#content{
    float: left;
    width: 70%;
    padding: 20px;
}

aside{
    border-radius: 5px;
    float: right;
    width: 30%;
    background: rgb(45,219,235);
    background: linear-gradient(180deg, rgba(45,219,235,1) 0%, rgba(158,78,226,1) 42%, rgba(53,0,78,1) 100%); 
    margin: 0px;
}

.city-result{
    margin: 40px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.city-info{
    background: rgb(21,36,136);
    background: linear-gradient(90deg, rgba(21,36,136,1) 0%, rgba(0,212,255,1) 100%); 
    box-shadow: 0 4px 8px 0 rgba(116, 116, 116, 0.493);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    margin: 0px auto;
}

.city-name{
    color: white;
    padding: 10px;
    text-transform: capitalize;
}

.city-kor, .comparison{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 1.6em;
}

.latitude, .longitude{
    color: #4677b6;
    width: 100%;
}

.sunrise-sunset{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0px auto;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    flex-grow: 1;
    max-width: 300px;
    overflow: hidden;
    text-align: center;
    margin: 30px auto;
    font-size: 1.5em;
    background-color: whitesmoke;
}

.sun-img{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    min-height:200px;
    z-index: 0;
    width: 100%;
}

.details{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0px auto;
    width: 80%;
    overflow: hidden;
}

.covers{
    display: flex;
    flex-direction: row;
}

.detail-p{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    background-color: whitesmoke;
    color: #143570;
}

.detail-p p{
    font-size: 20px;
    
}

.side{
    width: 100%;
    text-align: center;
}

.sun-side{
    background-color: #c5daf5;
    color: #1e550d;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.moon-side{
    background-color: #0d315f;
    color: #ffec42;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Mobile */
@media screen and (max-width: 768){
    #content{
        width: 100%;
    }

    aside{
        float: none;
        width: 100%;
        overflow: hidden;
    }

    .city-info, .details, .sunrise-sunset{
        width: 100%;
    }

    .card{
        margin: 0px 10px;
    }

    .sun-img{
        position:relative;
        background-position:center;
        background-size:cover;
        min-height: 100px;
    }
}

@media screen and (max-width: 576px){
    #content{
        width: 100%;
    }

    aside{
        float: none;
        width: 100%;
        overflow: hidden;
    }

    .city-info, .details, .sunrise-sunset{
        width: 100%;
    }

    .date-info{
        width: 80%;
    }

    .card{
        margin: 20px 10px;
    }

    .sun-img{
        position:relative;
        background-position:center;
        background-size:cover;
        min-height:90px;
    }

    .ptext{
        font-size: 20px;
    }
}